@use '../styles/variables' as *;

.start {
  position: fixed;
  height: 37px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  background-image: $menu-background;
  box-shadow: $menu-highlight;
  display: flex;
  justify-content: space-between;
}
