.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10px;
  background: none;
  border: none;
  cursor: pointer;

  img {
    height: auto;
    width: 27px;
    background-color: #ffe3a6;
    border-radius: 50%;
    transition: filter 0.2s ease;

    &:hover {
      filter: brightness(1.12);
    }
  }
}
